@use 'utils/variables' as *;
@use 'utils/mixins' as *;
@use 'utils/loading';
@use 'utils/pagination';
@use 'components/searchbar';
@use 'components/product-container';


section.grocery {
  max-width: 100%;
  margin: 0;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
  background-color: #f8f8f8;
}

.add-to-cart-btn {
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: $primary-color;
  transition: background-color 0.3s ease;
    
  &:hover {
    background-color: #d7391f;
  }
}

.cart {
  &-summary {
    position: sticky; /* Make it sticky */
    top: 0; /* Stick below header, plus some gap */
    width: 330px;
    min-width: 200px; /* Prevent shrinking too much */
    height: fit-content; /* Adjust height based on content */
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    background-color: #fff;
    transition: left 0.3s ease-in-out;
    
    & h2 {
      margin-block: 0 10px;
      padding-bottom: 10px;
      // margin-top: 0;
      // margin-bottom: 10px;
      color: #333;
      font-size: 1.3em;
      border-bottom: 1px solid #eee;
    }
  }

  &-items {
    height: 300px; /* Add max height for scrolling if many items */
    // margin-bottom: 15px;
    overflow-y: auto; /* Add scroll if items exceed max height */
  }

  &-item {
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: #555;
    font-size: 0.9em;
    border-bottom: 1px dotted #717171;
    user-select: none;
    cursor: pointer; /* Indicate it's clickable */
    transition: color 0.2s ease;

    &:hover {
      color: red;
    }

    &:last-child {
      border-bottom: none; /* No border for the last item */
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &-quantity {
      display: inline-block;
      color: $secondary-color;
    }

    & > span {
      margin-left: 10px; /* Add space between name and price */
      float: right; /* Float the price to the right */
      color: #333;
      font-weight: bold;
    }
  }

  &-total {
    padding-top: 10px;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
    @include border-stroke(light, #cecece, "top");
  }

  &-category {
    margin-block: 15px 0;
    padding-bottom: 10px;
    color: $primary-color;
    font-size: 1em;
    // border-bottom: 2px solid #eee;

    &-group:nth-child(1) > & {
      margin-block: 0;
      user-select: none;
    }
  }
}

.go-back {
  // height: 40px;
  padding: 0.5rem;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

@include respond-max("tablet") {
  .cart-summary {
    width: 280px;
    z-index: 4;
  }
}

@include respond-max("phone") {  
  .cart {
    &-summary {
      position: fixed; /* Make it sticky */
      top: calc(20px + 60px); /* Stick below header, plus some gap */
      bottom: 0;
      left: 0%;
      width: 100%;
      height: calc(100dvh - 66px); /* Adjust height based on content */
      padding-bottom: 7rem;
      border-radius: 0;
    }

    &-btn {
      --parent-padding: 20px;
      --btn-size: 3.5rem;
      width: var(--btn-size);
      height: var(--btn-size);
      padding: 1rem;
      left: calc(50% - var(--parent-padding));
      bottom: 3rem;
      border: 1px solid #c2c2c2;
      border-radius: 50%;
      /* http://smoothshadows.com/#djEsMSw1LDAuMTUsNjQsMCwwLCMwMDAwMDAsI2ZmZmZmZiwjZmZmZmZmLDI%3D */
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.03),
      0px 0px 10px rgba(0, 0, 0, 0.06),
      0px 0px 23px rgba(0, 0, 0, 0.09);
      transform: translateX(calc(50% - var(--parent-padding) * 2));
      background-color: #fff;
      cursor: pointer;
      z-index: 999;

      &.active {
        background-color: $primary-color;
      }
    }

    &-items {
      // height: 600px;
      flex-grow: 1;
    }
  }
}
