@use 'utils/variables' as *;
@use 'utils/loading';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
// .inter-<uniquifier> {
//   font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 500;
//   font-style: normal;
//   font-variation-settings:
//     "slnt" 0;
// }

:root {
  --font-s: 0.8rem;
  --font-normal: 1rem;
  --font-l: 1.25rem;
  --font-xl: 0.8rem;
  --font-2xl: 1rem;
  --font-3xl: 1.25rem;
  --font-4xl: 1.953rem;
  --font-5xl: 2.441rem;
  --font-6xl: 3.052rem;
  --font-7xl: 3.815rem;

  --clr-outline: rgb(200, 200, 200);
  --clr-primary: #ee4d2d;
  --clr-secondary: #551a8b;
  --clr-tertiary: #D0E2FF;
  /* --clr-highlight: #1eecff; */
  --clr-grey: #DDE1E6;
  --clr-darkGrey: #A2A9B0;
  --clr-pink: #F7CEE0;
  --clr-light: white;
  --clr-dark: black;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  background-color: $light-washed;
  scroll-behavior: smooth;
}

main {
  height: 100%;
  grid-area: content;
}

/* Utils Section */
.btn {cursor: pointer;}
.absolute {position: absolute;}
.relative {position: relative;}
.sticky {position: sticky;}
.fixed {position: fixed;}
.phone {display: none;}
.phone-block {display: none;}

@media screen and (max-width: 700px) {
  .computer {display: none !important;}
  .phone {display: flex;}
  .phone-block {display: block;}
}

a {
  text-decoration: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ee4d2d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d63916;
}
