@import 'utils/loading';
@import 'utils/variables';
@import 'utils/mixins';
@import 'components/product-container';

section.locations {
  max-width: 100%;
//   height: calc(100vh - 66px);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
  box-shadow: none;
  background-color: #f8f8f8;
}

.location {    
    &-container {
        height: auto;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: $light;

        &:hover .location__details {
            color: black;
            font-weight: 700;
        }
    }

    &__image {
        width: 100%;
        max-width: 250px;
        padding: 1rem;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
    &__details {
        text-align: center;
        &-tag {
            padding: 2px 4px;
            text-align: center;
            font-size: 0.75rem;
            border-radius: 8px;
            color: #fff;
            background-color: #f26f55;
        }
    }
}
