.location {    
    &-container {
        height: auto;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

        &:hover .location__details {
            color: black;
            font-weight: 700;
        }
    }

    &__image {
        padding: 1rem;
        max-width: 250px;
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
    &__details {
        text-align: center;
    }
}